section.about
  .container
    +title('About us', 'We are added out major Services')

    ul.about__list
      li.about__item
        .icon.icon-like
        h3.about__header FaceBook Marketing
        p.about__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ducimus, architecto molestiae rem obcaecati animi cupiditate, labore?

      li.about__item
        .icon.icon-book
        h3.about__header landing pages Creation
        p.about__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ducimus, architecto molestiae rem obcaecati animi cupiditate, labore?

      li.about__item
        .icon.icon-message
        h3.about__header Ads managment
        p.about__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ducimus, architecto molestiae rem obcaecati animi cupiditate, labore?