section.hero(style="background-image: url('img/hero-bg.jpg');")

  .hero__about We Providing
  h1.hero__about__title Media marketing for buisnesses
  a.button.button--yellow.button--text-uppercase(href="#") Free consultation