section.about
  .container
    .title.title--with-bottom-line
      h2.title.title__header About us
      .title__text We are added out major Services

    ul.about__list
      li.about__item
        .icon.icon-like
        h3.about__header FaceBook Marketing
        p.about__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ducimus, architecto molestiae rem obcaecati animi ipsa! Magnam rerum tempora voluptates a! Perferendis maxime, consequatur. Aliquid, porro, saepe! Perspiciatis cupiditate, labore?

      li.about__item
        .icon.icon-book
        h3.about__header landing pages Creation
        p.about__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ducimus, architecto molestiae rem obcaecati animi ipsa! Magnam rerum tempora voluptates a! Perferendis maxime, consequatur. Aliquid, porro, saepe! Perspiciatis cupiditate, labore?

      li.about__item
        .icon.icon-message
        h3.about__header Ads managment
        p.about__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ducimus, architecto molestiae rem obcaecati animi ipsa! Magnam rerum tempora voluptates a! Perferendis maxime, consequatur. Aliquid, porro, saepe! Perspiciatis cupiditate, labore?