section.approach
  .container
    +title('Our Approach', 'Check Our approaches step by step( how we do it)')

    ul.approach__list
      li.approach__item
        .approach__image
          img.approach__picture(src="../../img/step-1.jpg", alt="First step")
          .approach__step step
        .approach__text
          .approach__title Setp 1 : Heading here
          p.approach__description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsa sapiente iusto, deleniti autem a nam maxime amet eos.
            Similique, nam. Delectus voluptatum reiciendis fugit est tempore 
            quos consectetur assumenda perspiciatis.

      li.approach__item
        .approach__image
          img.approach__picture(src="../../img/step-2.jpg", alt="2 step")
          .approach__step step
        .approach__text
          .approach__title Setp 2 : Heading here
          p.approach__description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsa sapiente iusto, deleniti autem a nam maxime amet eos.
            Similique, nam. Delectus voluptatum reiciendis fugit est tempore 
            quos consectetur assumenda perspiciatis.

      li.approach__item
        .approach__image
          img.approach__picture(src="../../img/step-3.jpg", alt="3 step")
          .approach__step step
        .approach__text
          .approach__title Setp 3 : Heading here
          p.approach__description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsa sapiente iusto, deleniti autem a nam maxime amet eos.
            Similique, nam. Delectus voluptatum reiciendis fugit est tempore 
            quos consectetur assumenda perspiciatis.

      li.approach__item
        .approach__image
          img.approach__picture(src="../../img/step-4.jpg", alt="4 step")
          .approach__step step
        .approach__text
          .approach__title Setp 4 : Heading here
          p.approach__description.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ipsa sapiente iusto, deleniti autem a nam maxime amet eos.
            Similique, nam. Delectus voluptatum reiciendis fugit est tempore 
            quos consectetur assumenda perspiciatis.