header.header

  .header__top
    .container
      .contacts
        a.contact(href="tel:+3806664646")
          i.fa.fa-mobile.contact__icon(aria-hidden="true")
          span.contact__text +380666664646

        a.contact(href="mailto:info@buisnes.com")
          i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
          span.contact__text infobuisness.com
        a.facebook-icon(href="facebook.com")
          i.fa.fa-facebook(aria-hidden="true")
  .container
    .header__bottom
      .logo: img.logo__picture(src="img/logo.png", alt="picture")
      nav.nav
        - var items = ["Home", "About Us", "Our Approach", "Our Work"]
          each item in items
            if item === 'Home'
              a.nav__link.nav__link--active(href="#")= item
            else
              a.nav__link(href="#")= item
      a.button.header__button.button--red(href="#") Free consultation
