section.work

  .container

    +title('Our Work', 'We have added our feautured works below')

    ul.work__list
      li.work__item.work__item--name
        .work__name Project Name
        .work__description Faceebook marketing
      li.work__item: img.work__picture(src="img/work-1.jpg", alt="work1")


      li.work__item.work__item--name
        .work__name Project Name
        .work__description Landing page
      li.work__item: img.work__picture(src="img/work-2.jpg", alt="work2")

      li.work__item: img.work__picture(src="img/work-3.jpg", alt="work3")
      li.work__item.work__item--name
        .work__name Project Name
        .work__description Landing page
     
      li.work__item: img.work__picture(src="img/work-4.jpg", alt="work4")
      li.work__item.work__item--name
        .work__name Project Name
        .work__description Faceebook marketing
      
